In [27]:
# Import the dependencies
import pandas as pd
import gmaps
import requests
# Import the API key
from config import g_key

# Store the weather_data/cities CSV into a dataframe
hotel_df = pd.read_csv("weather_data/weatherpy_vacation.csv", index_col=0)
hotel_df.head(2)

,City,Country,Max Temp,Current Weather Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
40,Lukulu,ZM,69.60,light rain,-14.37,23.24,Ruth Guest House
43,Savannah Bight,HN,79.39,light rain,16.45,-85.85,Villa on Dunbar Rock